.professionalSummary-container {
  margin: 0 0.5em;
  border-radius: 30px;
  padding: 0.75em;
  box-shadow: 5px 5px 10px white;
}

.rightImg img {
  width: 35%;
  max-width: 275px;
  min-width: 100px;
  float: right;
  border-radius: 30px;
  margin: 0.5em 0.5em 0 0.5em;
}

.aboutMe-container {
  margin: 1em .5em 0.5em 1em;
  border-radius: 30px;
  padding: 0.75em;
  box-shadow: 5px 5px 10px white;
}

.img-container-left img {
  float: left;
  border-radius: 30px;
  width: 35%;
  max-width: 200px;
  min-width: 125px;
  margin: 0.5em 0.5em 0 0.5em;
}

#seeMoreLessButton {
    border: 1px solid;
    border-radius: 10px;
    padding: 0.1em 1em;
    margin-top: 0.5em;
  }
  
  #seeMoreLessButton:hover {
    box-shadow: 5px 5px 10px var(--black);
    cursor: pointer;
    text-decoration: underline;
  }