#logo {
  width: 4.5em;
}

#heading {
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
    #heading {
    font-size: .8em;
  }
}

@media screen and (max-width: 410px) {
  #logo {
    display: none;
  }

  #master-heading {
    margin: .25em 0 0 .25em;
  }

  @media screen and (max-width: 360px) {
    #heading {
      font-size: .7em;
    }
  }
}