

#logo {
  width: 4.5em;
}

#heading {
  display: flex;
  width: max-content;
}

#master-heading {
    margin: auto;
}

@media screen and (max-width: 490px) {
    #heading {
    font-size: .8em;
  }
}

@media screen and (max-width: 410px) {
  #logo {
    display: none;
  }

  #master-heading {
    margin: .25em 0 0 .25em;
  }
}