.trackImgMotion-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5em 0 1em 0;
  background-color: var(--black);
}

.trackImg {
  display: inline;
  padding: 0.5em 0 0.25em 0;
  background-color: var(--black);
}

.trackImg img {
  height: 400px;
}

.track {
  text-align: center;
}

.heading {
  margin-left: 2em;
}

.trackInfoI  {
  margin: 0.5em;
  padding: 1em;
  border-radius: 3em;
  box-shadow: 5px 5px 10px white;
  
}

.trackInfoI .img-container img {
  float: right;
  margin: 0.5em;
  height: 300px;
  border-radius: 3em;
}

.trackInfoII .img-container {
  align-items: center;
  justify-content: center;
}

.trackInfoII .img-container img {
  float: left;
  margin: .75em .5em 0 .5em;
  border-radius: 3em;
  height: 300px;
}

.trackInfoII {
  margin: 0.5em;
  padding: 1em;
  border-radius: 30px;
  box-shadow: 5px 5px 10px var(--black);
}
.trackInfoII, .trackInfoII h3, .trackInfoII img, .trackInfoII p {
  background-color: var(--black);
  color: var(--white);
}

.trackInfoIII {
  width: 90%;
  margin: 0.5em;
  padding: 1em;
  border-radius: 3em;
  box-shadow: 5px 5px 10px white;
}

.summaryImg-container {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--black);
}

.summaryImg-container img {
  max-width: 500px;
  width: 80%;
  margin: 1em;
}

@media screen and (max-width: 880px) {
  .trackImg img {
    height: 350px;
  }
}

@media screen and (max-width: 770px) {
  .trackImg img {
    height: 300px;
  }
}
