@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quintessential&display=swap");

:root {
  --black: #3d3b3a;
  --gold: #ad9551;
  --white: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  background-color: var(--white);
}

section {
  margin: 0.5em 0em;
}

.quintessential {
  font-family: "Quintessential", serif;
}

h2 {
  text-decoration: underline;
}

@media screen and (max-width: 410px) {
  
  h2,
  h3 {
    font-size: 0.9em;
  }

  p {
    font-size: 0.8em;
  }

  button {
    font-size: .75em;
  }

  a {
    font-size: .8em;
  }
}
